.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.portfolio__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-3);
}

.portfolio__nav-item a {
    font-size: var(--h3-font-size);
    display: inline-block;
    margin: 0 1.5rem;
}
.portfolio__nav-item a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--title-color-dark);
}

/* ========Card designs========= */
.proj__card {
    position: relative;
    border-radius: 8px;
    height: 300px;
    width: 260px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px -10px var(--title-color);
    overflow: hidden;
}

.proj__card__blur {
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: var(--blur-color);
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.proj__card:hover .proj__card__blur {
    opacity: 0.6;
}

.project__content {
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
}

.proj__links {
    height: 80px;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    margin: auto;
}

.proj__link {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 25px;
    transform: translateY(220px);
    position: relative;
    z-index: 99;

    transition: transform 1s cubic-bezier(0.46, 1.48, 0.18, 0.81);
}

.proj__card:hover .proj__link {
    transform: translateY(0px);
}

.proj__info {
    position: relative;
    font-family: var(--body-font);
    padding-left: 20px;
    transform: translateY(250px);
    z-index: 999;

    transition: transform 1s cubic-bezier(0.31, 1.21, 0.64, 1.02);
}

.proj__card:hover .proj__info {
    transform: translateY(0px);
}

.proj__name {
    font-size: 1.35rem;
    font-weight: bolder;
    padding-top: 5px;
    position: relative;
    bottom: 40px;
    color: var(--title-color-dark);
}

.proj__desc {
    margin-top: 5px;
    padding-right: 1rem;
    position: relative;
    bottom: 45px;
    color: var(--title-color-dark);
    line-height: 0.85;
}

.proj__link.github {
    margin-left: 16px;
}

.proj__link.website {
    transition-delay: 0.06s;
}
.proj__tech {
    display: flex;
}

.proj__tech img {
    width: 1.75rem;
    margin-left: 4px;
    height: auto;
    position: relative;
    bottom: 35px;
    border-radius: 45%;
    background: black;
}

/*=============== BREAKPOINTS ===============*/

/* For Extra Large Devices */
@media screen and (max-width: 1260px) {
}
/* For large screen devices */
@media screen and (max-width: 992px) {
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
        row-gap: 2rem;
    }

    .portfolio__img {
        height: 150px;
    }

    .portfolio__title {
        font-size: var(--h4-font-size);
    }

    .portfolio__subtitle {
        font-size: var(--smaller-font-size);
    }

    .portfolio__button {
        font-size: var(--smaller-font-size);
    }

    .portfolio__button-icon {
        font-size: 0.75rem;
    }

    .portfolio__button:hover .portfolio__button-icon {
        transform: translate(0.15rem);
    }
}

/* For medium screen devices */

@media screen and (max-width: 576px) {
    .portfolio__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio__img {
        height: 100px;
    }

    .portfolio__title {
        font-size: var(--h5-font-size);
    }

    .portfolio__subtitle {
        font-size: var(--smaller-font-size);
    }

    .portfolio__button {
        font-size: var(--smaller-font-size);
    }

    .portfolio__button-icon {
        font-size: 0.75rem;
    }

    .portfolio__button:hover .portfolio__button-icon {
        transform: translate(0.15rem);
    }
}

/* For small screen devices */
@media screen and (max-width: 350px) {
    .portfolio__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio__img {
        height: 100px;
    }

    .portfolio__title {
        font-size: var(--h5-font-size);
    }

    .portfolio__subtitle {
        font-size: var(--smaller-font-size);
    }

    .portfolio__button {
        font-size: var(--smaller-font-size);
    }

    .portfolio__button-icon {
        font-size: 0.75rem;
    }

    .portfolio__button:hover .portfolio__button-icon {
        transform: translate(0.15rem);
    }
}
