.active {
    color: red;
    text-decoration: none;
}
* {
}

.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;

    justify-content: end;
}

.nav_li {
    text-decoration: none;
    padding: 0 10px;
    font-size: 3rem;
}
